/* RESET DEFAULT BROWSER STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REMOVE DEFAULT WHITE BORDER */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}